*{
    justify-content: center;
    align-items: center;
    
}

#header {
    border-radius: 40px 120px 40px 70px;
    background-color: rgb(43, 39, 37);
    color: rgb(199, 197, 197);
    
    text-align: center;
    text-transform: uppercase;
    text-shadow: black 1px 1px 0px;
    box-sizing: border-box;
}


main {
    font-family: 'Poppins',sans-serif;
    position: relative;
}


img{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;    
    filter:none;
    z-index: -2;
}

.otro-circulo{
    position: albolute;
    border: solid 3px rgb(230, 6, 200);
    background-color: transparent; 
    clip-path: circle(50% at center); /* Crea una máscara de recorte circular */
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-left: 250px !important;
    margin-top: 130px;
    filter: blur(10px);
}

.circle{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 1px solid #fff;
    color: #fff;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circle::before{
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(18px);
    margin: 38px auto;
    content: '';
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    width: 160px;
    height: 160px;
    left: calc(50% - 80px);
    top: calc(50% - 80px);
    background-color: black;
}

.seconds-sphere{
   
    margin: 35px auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(245, 239, 239);
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    animation: rotacion 60s linear infinite;
    animation-play-state: paused;
}

@keyframes rotacion {
    from { transform: rotate(-90deg) translateX(60px); }
    to { transform: rotate(270deg) translateX(60px); }
}

.buttons {
    margin-top: 10px;
    display: inline-flex;
}

.paused {
    height: 10px;
    border-width: 5px 0 5px 10px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 15px;
    border-color: transparent transparent transparent #fff;
    transition: 10ms all ease;
    will-change: border-width;
    border-style: solid;
}

.running {
    border-style: double;
    border-width: 0 0 0 10px;

}

.stop {
    background-color: #fff;
    height: 10px;
    width: 10px;
    cursor: pointer;
}